.divider {
  display: block;
  width: 100%;
  height: 1px !important;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  font-size: clamp(14px, 2.5vw, 18px);
}
.title:hover{
    cursor:pointer;
    color: #2bcbf3; 
}
.author{
    color:#007bff;
    font-size: clamp(12px, 1vw, 16px);
}
.journal-badge {
  background-color: #01172e;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  
  /* PRO TIP: Padding: top/bottom, left/right */
  padding: 4px 10px !important; 
  
  /* Make the div only as wide as its content */
  display: inline-block; 
  
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.journal-badge:hover {
  background-color:#00264d;
  color: rgb(93, 178, 228);
}